@font-face {
  src: url("../assets/fonts/Playwrite\ ES\ Deco.ttf");
  font-family: "Playwrite ES Deco";
}
@font-face {
  src: url("../assets/fonts/Poppins.ttf");
  font-family: "Poppins";
}
@font-face {
  src: url("../assets/fonts/Ranchers.ttf");
  font-family: "Ranchers";
}
